@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Inter&display=swap');

$title-font: "Cormorant";
$text-font: "Inter";
$background-color:#2C2A2A;
$text-color:#ffffff;
$secondary-color: #d9bea5;
$infill-color: #3c3636;
$footer-color: #3B3636