@use "./assets/scss/variables" as * ;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height:100vh;
    background-color: $background-color;
}

.title {
    font-size: 3rem;
    font-family: $title-font;
    color: $text-color;

    .title__highlight {
        color: $secondary-color;
    }
}

.app {
    text-align: center;
}
.container {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}